.login{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    margin-top: 1%;
}
input{
    height: 45px;
}
input[type=text]:focus,[type=password]:focus{
    background-color: lightblue;
  }
.logare{
    width: 25%;
    margin:  8% 37% 0% 37%;
    background-color: rgb(139, 198, 247);
}