.filter-buttons {
    margin-top: 20px;

}

.filter-buttons button {
    border: 1px solid rgb(139, 198, 247);
    height: 60px;
    padding: 1rem;
    background-color: transparent;
    margin-right: 1rem;
}

.filter-buttons button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: rgb(139, 198, 247);
}


.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}